{% extends "base.html" %}


{% block head_title %}
Заказ № {{ customersorder_id }} | {{ block.super }}
{% endblock head_title %}



{% block content %}
<div class='col-sm-6 col-sm-offset-3'>
<h1>{{ title }} <small>{{ instance.publish }}</small></h1>
	<img src="{{ instance.image.url }}" class='img-responsive' />


<p>Author: {{ author }}</p>

<p>Заказ №: {{ customersorder_id }}</p>

<p><a href=' /order_edit/{{ customersorder_id }}/ ' class="btn btn-primary" role="button">Редактировать заказ</a></p>


</div>

{% endblock content %}
